{% extends 'base.html.twig' %}
{% block title  %}
    Login Page
    {% endblock %}
{% block body  %}
    <div class="container">
    <div class="row">
     <div class=" col-lg-4 col-lg-offset-6">
    <h1>Welcome back</h1>
        
        <div>
        
            <form action="" method="post">
            <fieldset>
                <div class="form-group">
                <label for="username"><span class="FieldInfo">User Name : </span></label>
                    <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user text-primary"></span></span>
                    
                <input class="form-control" type="text" name="Username" id="username" placeholder="User name"></div>
                    </div>
                  <div class="form-group">
                <label for="Password"><span class="FieldInfo">Password : </span></label>
                       <div class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock text-primary"></span></span>
                <input class="form-control" type="Password" name="Password" id="Password" placeholder="Password">
                      </div></div>
                
                <input class="btn btn-info  btn-block" type="submit" name="Submit" value="Login">
                <br>
                </fieldset>
            </form>
        </div>
    </div>
        </div>
    </div>
    {% endblock %}{# empty Twig template #}
